{% load pages_tags i18n %}

{% spaceless %}
<ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
    {% for page in page_branch %}

    {% if page.in_menu and page.title != "home"%}
    <li id="primary-menu-{{ page.html_id }}"
        class="{% if page.is_current_or_ascendant %}active{% endif %}{% if forloop.last %} last{% endif %}">
        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
    <li class="divider-vertical"></li>
</ul>
{% endspaceless %}
